version: '3'
services:
  gateway:
    image: '7imbrook/life'
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - api
      - auth
    networks:
      - edge
    volumes:
      - caddycache:/root/.caddy
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.edge == true

  api:
    image: '7imbrook/postgrest'
    deploy:
      replicas: 1
    depends_on:
      - postgres
    networks:
      - edge
      - database
    environment:
      - POSTGRES_ROLE=readonly
      - JWT_SECRET_FILE=/run/secrets/jwtkey
      - POSTGRES_PASS_FILE=/run/secrets/postgres_password

  auth:
    deploy:
      replicas: 1
    environment:
      - JWT_SECRET_FILE=/run/secrets/jwtkey
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    image: '7imbrook/auth:testing'
    depends_on:
      - postgres
    networks:
      - edge
      - database

  # Move to external service, you know that works makes it more stable
  # Databases don't belong in containers
  postgres:
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    image: 'postgres:9.6.2'
    ports:
      - '5432:5432'
    networks:
      - database
    volumes:
      - pgdata:/var/lib/postgresql/data
    deploy:
      replicas: 0
      placement:
        constraints:
          - node.labels.db == true

networks:
  edge:
  database:

volumes:
  caddycache:
  pgdata:
