# Main Site
http://timbrook.life {
  gzip
  proxy /api {
    upstream api:3000
    without /api
    transparent
  }
  root ./dist
  rewrite {
    if {path} not_match \/api/.*
    if {file} not_match (.*\.js|.*\.html|.*\.css)
    to /index.html
  }
}

# Auth backend
http://auth.timbrook.life {
  cors / http://timbrook.life http://localhost:8000
  gzip
  proxy / auth:8080
}
