replicaCount: 1

image:
    repository: 7imbrook/podcast

healthEndpoint: "/pod.xml"

container:
    port: 5000

ingress:
    enabled: true
    hosts:
        - timbrook.tech 
    paths:
        - /pod.xml
        # This isn't configured yet
        # - /api/upload
        # - /api/configure