replicaCount: 1

image:
    repository: 7imbrook/postprocessor

healthEndpoint: false 

container:
    port: 8000

ingress:
    enabled: false

environment:
    - name: ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
            name: digital-ocean-spaces
            key: key 
    - name: SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
            name: digital-ocean-spaces
            key: token 
    - name: AMQT_PASSWORD
      valueFrom:
        secretKeyRef:
            name: rabbitmq
            key: rabbitmq-password 