version: 2.1
jobs:
  build:
    docker:
      - image: docker:17.05.0-ce-git

    working_directory: /personal-page

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i $CIRCLE_WORKING_DIRECTORY/caches/app.tar | true
      - run:
          name: Build
          command: docker build --cache-from=7imbrook/life -t local_build_only .
      - run:
          name: Tag and Push
          command: |
            docker tag local_build_only 7imbrook/life;
            docker push 7imbrook/life | tee $CIRCLE_WORKING_DIRECTORY/push_log.log
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p $CIRCLE_WORKING_DIRECTORY/caches
            docker save -o $CIRCLE_WORKING_DIRECTORY/caches/app.tar 7imbrook/life
      - run:
          name: Save Build Metadata
          command: |
            BUILD_SHA=$(tail -n 1 $CIRCLE_WORKING_DIRECTORY/push_log.log | cut -d':' -f 4 | cut -d' ' -f 1)
            mkdir -p $CIRCLE_WORKING_DIRECTORY/outputs/atrifacts; 
            echo $BUILD_SHA > $CIRCLE_WORKING_DIRECTORY/outputs/atrifacts/BUILD_SHA 
            cp ./deploy ./outputs/deploy
      - store_artifacts:
          path: outputs/atrifacts
          destination: metadata
      - persist_to_workspace:
          root: outputs
          paths:
            - atrifacts
  deploy-prod:
    docker:
      - image: 7imbrook/ci-deploy-tools
    working_directory: /root/src
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Authenticate Cluster
          command: |
            cd
            doctl k c list -t $DO_TOKEN
            doctl k c kubeconfig show prod -t $DO_TOKEN > ~/.kube/config
            kubectl get all
            helm init
            helm list
      - run:
          name: Deploy Helm Release
          command: |
            NEW_IMAGE=7imbrook/life@sha256:$(cat atrifacts/BUILD_SHA)
            helm upgrade --set container.image=$NEW_IMAGE personal-page ./atrifacts/deploy/
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-prod:
          requires:
            - build
          filters:
            branches:
              only: master