version: 2.1
jobs:
  landing:
    docker:
      - image: circleci/node
    working_directory: /personal-page
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: cd landing
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Build Assets
          command: |
            npm run build
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          command: |
            cd ./conf
            docker build -t test .

workflows:
  version: 2
  deployment:
    jobs:
      - landing:
          filters:
            branches:
              only: master