version: 2.1
jobs:
  landing:
    docker:
      - image: circleci/node
    working_directory: /home/circleci/project/landing
    steps:
      - checkout:
          path: /home/circleci/project/ 
      - setup_remote_docker
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Build Assets
          command: |
            npm run build
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Build Nginx Image
          command: |
            mkdir -p ~/logs
            cd ./conf
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker build -t 7imbrook/life .
            docker push 7imbrook/life | tee ~/logs/landing_push.log
      - persist_to_workspace:
          root: ~/logs
          paths:
            - landing_push.log
  authenticate:
    docker:
      - image: 7imbrook/ci-deploy-tools
    working_directory: /root/ 
    steps:
      - run:
          name: Authenticate Cluster
          command: |
            # Auth cluster
            doctl kubernetes cluster list -t $DO_TOKEN
            doctl kubernetes cluster kubeconfig show prod-sfo -t $DO_TOKEN > ~/.kube/config
            kubectl config set-context --current --namespace=production
            kubectl get all
            helm init --client-only
            helm repo add personal https://helm-charts.sfo2.digitaloceanspaces.com/
            helm repo update
      - persist_to_workspace:
          root: ~/
          paths:
            - .helm/*
            - .kube/*
  deploy_personal_site:
    docker:
      - image: 7imbrook/ci-deploy-tools
    working_directory: /root/project
    steps:
      - checkout
      - attach_workspace:
          at: /root/
      - run:
          name: Upgrade Helm Release
          command: |
            export SHA=$(tail -n 1 ../landing_push.log | cut -d':' -f 4 | cut -d' ' -f 1)
            helm upgrade \
              --wait \
              -f ./landing/conf/values.yaml \
              -i \
              --set image.sha=$SHA \
              --description="$(git log -1 --pretty=%B)" \
              personal-site-landing personal/appshell
  podcast:
    docker:
      - image: docker:17.05.0-ce-git
    working_directory: /root/project/podcast
    steps:
      - checkout:
          path: /root/project/ 
      - setup_remote_docker
      - run:
          name: Build and Push
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker build -t 7imbrook/podcast .
            mkdir -p ~/logs
            docker push 7imbrook/podcast | tee ~/logs/podcast_push.log 
      - persist_to_workspace:
          root: ~/logs
          paths:
            - podcast_push.log
  deploy_podcast_app:
    docker:
      - image: 7imbrook/ci-deploy-tools
    working_directory: /root/project
    steps:
      - checkout
      - attach_workspace:
          at: /root/
      - run:
          name: Upgrade Helm Release
          command: |
            export SHA=$(tail -n 1 ../podcast_push.log | cut -d':' -f 4 | cut -d' ' -f 1)
            helm upgrade \
              --wait \
              -f ./podcast/values.yaml \
              -i \
              --set image.sha=$SHA \
              --description="$(git log -1 --pretty=%B)" \
              podcast personal/appshell
workflows:
  version: 2
  deployment:
    jobs:
      - authenticate
      - landing
      - podcast
      - deploy_podcast_app:
          requires:
            - authenticate
            - podcast 
          filters:
            branches:
              only: master
      - deploy_personal_site:
          requires:
            - authenticate
            - landing
          filters:
            branches:
              only: master