apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{.Release.Name}}-ingress
  namespace: {{.Values.environment.namespace}}
  annotations:
    kubernetes.io/ingress.class: {{.Values.ingress.class}}
    traefik.frontend.priority: "2"
spec:
  rules:
  - host: {{.Values.ingress.host}}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{.Release.Name}}-service
          servicePort: http
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{.Release.Name}}-paywall-ingress
  namespace: {{.Values.environment.namespace}}
  annotations:
    kubernetes.io/ingress.class: {{.Values.ingress.class}}
    ingress.kubernetes.io/auth-type: basic
    traefik.ingress.kubernetes.io/auth-secret: resume-auth
    traefik.frontend.priority: "1"
spec:
  rules:
  - host: {{.Values.ingress.host}}
    http:
      paths:
      - path: /resume
        backend:
          serviceName: {{.Release.Name}}-service
          servicePort: http
