@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}
a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;

    color: #526d7a;
}
body
{
    font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;

    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;

    background-color: #fcfcfc;
}
html
{
    position: relative;

    height: 100%;
    min-height: 100%;
    margin: 0;
}
.author
{
    color: #444;
}
.author h1,
.author h2,
.author h3,
.author h4,
.author h5,
.author h6,
.author p
{
    font-family: 'Roboto Slab', serif;
}
.category
{
    color: #966 !important;
}
.container
{
    overflow: auto;

    max-width: 680px;
    padding: 0 15px;
}
.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.content
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;

    color: #777;
}
.copyright
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.description
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #bbb;
}
.error
{
    font-family: 'Roboto', sans-serif;

    margin-top: 100px;
}
.error h1
{
    font-size: 80px;

    color: #bbb;
}
.error p
{
    margin-top: 150px;

    color: #777;
}
.excerpt
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;

    color: #555;
    margin-bottom: 20px;
}
.footer
{
    margin-top: 10px;

    color: #bbb;
}
.header
{
    margin-top: 60px;
    margin-bottom: 20px;
}
.headshot
{
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.info
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro
{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    color: #777;
}
h3.intro
{
    margin-top: 0px
}
.list
{
    font-family: 'Roboto', sans-serif;

    margin-top: 50px;
}
.list li
{
    list-style: none;
}
.list-entry
{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 20px;
}
.list-entry-link
{
    padding: 0;
}
.main-menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-item
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;

    text-decoration: none;

    color: #966 !important;
}
.meta
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;

    color: #bbb;
}
a.meta
{
    color: #966;
}
h6.meta
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;

    color: #bbb;
}
.powered
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social,
.social a
{
    color: #526d7a;
}
.title
{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;

    color: #555;
}
header.title
{
    margin-top: 50px;
    padding: 0 15px;
}
@media (max-width: 991px)
{
    .header
    {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .list
    {
        font-family: 'Roboto', sans-serif;

        margin-top: 30px;
    }
}

.upper-title {
  position: absolute;
  top: 10px;
  left: 20px;
  display: inline;
}

.upper-title h5 {
  padding-left: 5px;
  display: inline;
}

.upper-title img {
  border-radius: 15px;
  display: inline;
}

#main-page-quote {
    content: 'Original Text';
    animation-name: quotes;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.smooth-move {
  height: auto;
  transition: height 0.5s ease-in-out;
}

@keyframes quotes {
    0% {
        opacity: 0;
        transform: translate(0, -1em);
    }
    10% {
        opacity: 1;
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 1em);
    }
}

/* Resume css (move to new file?) */

.back-button {
  position: fixed;
  padding: 25px;
  top: 0px;
}

.resume {
  text-align: justify;
  margin: auto 20%;
}

.resume section.experience {
  margin-top: 10px;
}

.resume section.title {
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-between
}

.resume .name {
  font-size: 1.9em;
  width: auto;
}

.resume .content {
  width: auto;
}

.resume p {
  font-size: .8em;
}

.resume .content p {
  margin: 0px;
}

.resume h4 {
  padding-top: 10px;
  color: #31708f;
}

.resume h3 {
  padding-bottom: 10px;
}

.tech-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between
}

ul.tech-lists li {
  margin-left: -20px;
  font-size: 0.7em;
}

.not-found {
  margin-left: 35%;
  margin-top: 500px;
}

.sub-not-found {
  margin: 1px;
  color: grey;
}

.request i {
  margin: 50px 47%;
  font-size: 6em;
  animation-name: request;
  animation-duration: 0.5s;
}

.request h4 {
  text-align: center;
  animation-name: sub-request;
  animation-duration: 1s;
}

.fad-hide {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

@keyframes request {
  0% {
      opacity: 0;
      transform: translate(0, -15px);
  }
  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

@keyframes sub-request {
  0% {
      opacity: 0;
      transform: translate(0, -1em);
  }
  10% {
      opacity: 0;
      transform: translate(0, -1em);
  }
  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

#hint-text {
  height: 15px;
}

@media print {

  html {
    color: inherit !important;
  }

  .back-button {
    display: none;
  }

  .resume section.title {
    margin-top: 25px;
  }
}
