body {
    margin: 0px;
}

.admin-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(80%, 1fr);
    grid-template-areas: "sidebar content";
}

.admin-sidebar {
    grid-area: sidebar;
    background-color: gainsboro;
    padding: 10px;
}

.admin-main {
    grid-area: content;
}